<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <bytecode-provider type="lcg" />
  <reflection-optimizer use="true" />
  <session-factory>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider, NHibernate</property>
    <property name="cache.use_query_cache">false</property>
    <property name="cache.use_second_level_cache">false</property>
    <property name="cache.provider_class">NHibernate.Caches.SysCache.SysCacheProvider,NHibernate.Caches.SysCache</property>
    <property name="connection.driver_class">NHibernate.Driver.OracleClientDriver</property>
    <!--<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="default_schema">TestIRP_MBP.dbo</property>-->
    <property name="connection.connection_string">
      <!--Data Source=.;Initial Catalog=IRP_MBP;Persist Security Info=True;User ID=sa;Password=xyc;Connect Timeout=120-->
      <!--Data Source=192.168.1.203;Initial Catalog=IRP_MBP;Persist Security Info=True;User ID=sa;Password=testtdplmpwd;Connect Timeout=120-->
      <!--Data Source=192.168.1.203;Initial Catalog=TestIRP_MBP;Persist Security Info=True;User ID=sa;Password=testtdplmpwd;Connect Timeout=120-->
      <!--Data Source=192.168.1.253;Initial Catalog=IRP_MBP;Persist Security Info=True;User ID=sa;Password=cscec3b.com;Connect Timeout=120-->
      <!--Data Source=192.168.1.251;Initial Catalog=IRP_MBP;Persist Security Info=True;User ID=sa;Password=sa;Connect Timeout=120-->
      Data Source=ORCL;User ID=IRP_MBP;Password=IRP_MBP
    </property>
    <property name="show_sql">false</property>
    <!--<property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>-->
    <property name="dialect">NHibernate.Dialect.Oracle10gDialect</property>
    <!--<property name="max_fetch_depth">3</property>-->
  </session-factory>
</hibernate-configuration>
