/** show message **/
div.show_message {position:absolute; height:1px;z-index:200; background:#fff;table-layout:fixed;cursor:default;}
div.show_message_mask {position:absolute; top:100; left:0; height:100%; width:100%; background:#FFF; opacity:.75; filter:alpha(opacity=75); z-index:100}
td.show_message_td_header_middle {
	height: 31px;
	cursor: default;
	font-size: 2px;
	background-color: #E9EEEE;
	background-image: -moz-linear-gradient(#F6F8F8, #E9EEEE);
	background-image: -webkit-linear-gradient(#F6F8F8, #E9EEEE);
	background-image: linear-gradient(#F6F8F8, #E9EEEE);
	background-repeat: repeat-x;
	border-top: 1px solid #C1C1C1;
	border-left: 1px solid #C1C1C1;
	border-right: 1px solid #C1C1C1;
	border-bottom: 0px solid #F0F3F3;
}

div.show_message_title {
	position: absolute;
	padding: 9px;
	top: 0px;
	left: 0px;
	width: 100%;
	color: #055A78;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	text-align:left;
	white-space: nowrap;
	overflow: hidden;
	-moz-user-select: none;
	border:0px;
	cursor: default;
}
div.show_message_title_button {
	position: absolute;
	right: 5px;
	top: 9px;
	height: 16px;
	width: 17px;
	text-align: left;
	cursor: default;
	background-image: url("../dhtmlx/dhtmlxWindows/imgs/dhxwins_dhx_blue/active/btns_default/btn_close.gif");
	-moz-user-select: none;
}

button.button-ok,button.button-yes,
button.button-cancel,button.button-no {
	margin: 0;
	padding: 0;
	border: 0;
	cursor: pointer;
	white-space: nowrap;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	overflow: hidden;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .3);
	background-color: #F0F0F0;
	color: #333;
	font-weight: 700;
	font-size: 13px;
	/* 鍘婚櫎閫変腑 */
    bblr:expression(this.onFocus=this.blur());/*IE浣跨敤*/ 
    outline-style:none;/*FF浣跨敤*/ 
}

button.button-ok,button.button-yes{
	color: white;
	background: #6CC03F;
	border-bottom: 1px solid #5AB42A;
}

button.button-ok:hover,button.button-yes:hover {
	background: #7DD74D;
}

button.button-cancel,button.button-no{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	overflow: hidden;
	box-shadow: 0 0 0 rgba(0, 0, 0, .3);
	background: transparent;
	font-weight: 500;
	color: #535353;
}

button.button-cancel:hover,button.button-no:hover {
	text-decoration : underline;
}